$red: 						#FF5252;
$blue:						#2196F3;

$background:				#FFFFFF;
$base-color:				#455A64;

$menu-btn-background:		$base-color;
$scores-btn-background:		$red;

$block-front:				#CFD8DC;
$block-back:				#607D8B;